<!doctype html>
<html ng-app="quicklist">
	<head>
		<meta name="viewport" content="width=device-width">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" /> -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/1.0.2/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
		<script src="js/quicklist.js"></script>
		<script src="js/idHelper.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>quicklist</title>
	</head>
	<body ng-controller="listController">
		<div class="viewport">
			<div class="main">
				<header>
					<div class="title"> 
						quicklist 
						<!-- <span class="subscript">alpha</span> -->
					</div>
					<div class="subtitle"> 
						sharable, disposable lists. save or share your list's url!
					</div>
				</header>
				<form name="addItemForm" ng-submit="addItem();">
					<input name="addItemBox" class="addItemBox" type="text" ng-model="itemName" placeholder="enter your next item" required ng-pattern="moreThanWhitespace" />
					<input class="addItemButton" type="submit" value="add" />
				</form>
				<div class="spinner" ng-hide="loaded">
					<i class="fa fa-spinner fa-spin fa-3x"></i>
				</div>
				<div ng-class="{'listItem': true, 'checkedItem': item.checked}" ng-repeat="item in items">
					<div class="checkbox" ng-click="checkItem(item)" >
						<!-- font awesome checkbox icons -->
						<i ng-class="{'fa': true, 'fa-check-square-o': item.checked, 'fa-square-o': !item.checked, 'fa-lg': true}"></i>
					</div>
					<div class="listItemName">
						{{item.name}} 
						<div class="deleteButton" ng-click="deleteItem(item.ID)" ng-show="item.checked">	
						<!-- font awesome x icon -->
						<i class="fa fa-times-circle fa-lg"></i> 
						</span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>